//
//  mainnet.xcconfig
//  NighthawkWallet
//
//  Created by Matthew Watt on 1/25/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_VERSION = 1.41
APP_BUNDLE_ID = com.nighthawkapps.wallet.ios
APP_BUILD = 141
APP_NAME = Nighthawk
APP_NETWORK = mainnet
APP_PLIST = Info-mainnet.plist
